table {
	display: inline-block;
    margin: 2em 0 0 0;
}

/*party rows*/
.rowColorR:hover {
	background-color: #fbb;
}
.rowColorD:hover {
	background-color: #bbf;
}
.rowColorI:hover {
	background-color: #d6dddd;
}

