<table class="table">
  <tr>
    <th>
      Name
    </th>
    <th>
      Party
    </th>
    <th>
      State
    </th>
    <th>
      Seniority
    </th>
    <th>
      Votes with Party
    </th>
  </tr>
  <tr *ngFor="let member of members" ="rowColor{{member.party}}">
    <app-table-cell [val]="member.full_name" [format]="link" [formatPars]="[member.url]"></app-table-cell>
    <app-table-cell [val]="member.full_name" [format]="link" [formatPars]="[member.url]"></app-table-cell>
    <app-table-cell [val]="member.full_name" [format]="link" [formatPars]="[member.url]"></app-table-cell>
    <app-table-cell [val]="member.full_name" [format]="link" [formatPars]="[member.url]"></app-table-cell>
    <app-table-cell [val]="member.full_name" [format]="link" [formatPars]="[member.url]"></app-table-cell>
  </tr>

    <!-- <td class="col-xs-4"[innerHtml]="member.full_name | link:member.url">
    </td>
    <td class="col-xs-2"[innerHtml]="member.party | partyIcon">
    </td>
    <td class="col-xs-2"[innerHtml]="member.state">
    </td>
    <td class="col-xs-2"[innerHtml]="member.seniority | years">
    </td>
    <td class="col-xs-2"[innerHtml]="member.votes_with_party_pct | percentVotesToolTip:member.party_votes:member.total_votes">
    </td> -->

</table>