<div>
  <a routerLink="/home" class="logoWrapper">
    <img src="/assets/images/logo.png">
  </a>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li class="dropdown" id="members">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Members
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu inverse-dropdown">
          <li>
            <a [routerLink]="['/members',{chamber:'senate', congress:congress}]">
              Senate
            </a>
          </li>
          <li >
            <a [routerLink]="['/members',{chamber:'senate', congress:congress}]">
              House
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown" id="loyalty">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Loyalty
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu inverse-dropdown">
          <li class="senate">
            <a routerLink="/loyalty" [queryParams]="{chamber:senate}">
              Senate
            </a>
          </li>
          <li class="house">
            <a routerLink="/loyalty" [queryParams]="{chamber:house}">
              House
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown" id="attendance">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Attendance
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu inverse-dropdown">
          <li class="senate">
            <a routerLink="/attendance" [queryParams]="{chamber:senate}">
              Senate
            </a>
          </li>
          <li class="house">
            <a routerLink="/attendance" [queryParams]="{chamber:house}">
              House
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li id="congress">
        <a href="javascript: void(0)">
          Congress
          <select [(ngModel)]="congress">
            <option value="115">115</option>
            <option value="114">114</option>
            <option value="113">113</option>
          </select>

        </a>
      </li>
    </ul>
  </div>
</nav>